html, body {
    height: 100%;
}

img {
    max-width: 100%;
}

ul *  {
    list-style: none;
    cursor: pointer;
    user-select: none;
}

.active {
    color: #175034 !important;
}

.deactivated {
    color: #175234 !important;
}

.treeview-name {
    color: #21754c;
}

.treeview-name:hover {
    color: #175234 !important;
}

.active-block {
    display: block !important;
}

.card {
    box-shadow: 1px 5px 20px black;
    width: 350px;
    min-height: 480px;
}

.border {
    border-width: 4px !important;
}

.popup-form {	
    backdrop-filter: blur(300px);
    position: fixed;
    top: 240px;
    min-height: 480px;
    min-width: 640px;
    display: none;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    z-index: 2;
    box-shadow: 1px 5px 20px black !important;
}

.popup-form>.content {
    flex: 1 0 auto;
}

.popup-form>.actions {
    flex: 0 0 auto;
}

.container-fluid {
    margin: 0px;
    padding: 20px 20px 20px 20px;
}

.block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 5px 20px black;
    padding: 45px;
}

.inline-block {
    display: inline-block;
    box-shadow: 1px 5px 20px black;
    padding: 45px;
}

.alert {
    width: 300px;
    margin-left: auto;
    margin-right: 0;
    transition: 0.5s;
    box-shadow: 1px 5px 20px black;
}

.treeview-caret {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    list-style-type: none;
}

.treeview-caret::before {
    display: inline-block;
    content: "\25B6";
    margin-right: 6px;
    color: #306130;
}  

.treeview-caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); 
}

.treeview-nested {
    display: none;
}

#blur {
    background-color: #0000004b;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}


@media screen and (max-width: 900px) {
    .popup-form {
        min-width: 320px;
    }

    .container-fluid {
        padding: 0px !important;
    }

    .block {
        margin: 15px 0 15px 0;
        padding: 14px !important;
    }
}